
.commentListBody {
  display: flex;
  flex-direction: column;
  width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.commentListContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px; /* 댓글 사이 간격 조정  미관상 안좋음 */
}

.listBody {
  display: flex;
  flex-direction: row; /* 가로 정렬 */
  align-items: flex-start; /* 상단 정렬 */
  gap: 16px; /* 프로필과 내용 사이 간격 */
  width: 100%;
}

.listTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.forwardTitle {
  display: flex;
  align-items: center;
  gap: 16px;
}

.forwardTitleText {
  font-size: 16px;
  font-weight: 500;
}

.backTitle {
  display: flex;
  align-items: center;
  gap: 16px;
}

.commentText {
  color: #333;
  font-size: 16px;
  padding-top: 4px;
}

.commentDate {
  color: #818181;
  font-size: 14px;
  padding-top: 12px;
}

.border {
  width: 100%;
  height: 1px;
  background: #e4e4e4;
  margin-top: 20px;
}

.profileImage {
  border-radius: 50%;
}